header {
	background-color: #2F4172;
	color: #D6D8DD
}
.navbar {
	background-color: #822926 !important;
}

.nav-link, .navbar-brand {
	color: #fff;
}

.nav-link:hover {
	color: gold;
}

.logoImg {
	width: 200px;
}

.logoDiv {
	text-align: center;
}

/* table */
table, td, th {
	border: 0px solid #cccccc;
	border-spacing: 0;
}

table {
	width: 100%;
}

th {
	font-family: Tahoma, sans-serif;
	background-color #822926;
}

td {
	font-family: Georgia, serif;
}

th, td {
	padding: 10px 30px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#emailForm {
  display: flex;
  gap: 0px;
}

input, button {
  padding: 5px;
  font-size: 15px;
}

#emailForm {
  margin-left: auto;  /* pushes form to the right */
  margin-right: 0;
  width: fit-content; /* keeps the form width only as wide as needed */
}

#emailInput {
    border:3px solid #2F4172; /* change to any color */
}

#emailButton {
    border: 3px solid #822926;
}
#emailButton{
	cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
#emailButton:hover {
    opacity: 0.8;
}

#emailButton.inactive {
    background-color: #3498db; /* Default color when paragraph is hidden */
    color: #fff;
} 

#emailButton.active {
    background-color: #2ecc71; /* Color when paragraph is visible */
    color: #000; /* Change text color for better visibility */
} 

#emailInput {
    background-color: #D6D8DD;
    color: black;            /* so text is readable */
    border: 2px solid #2F4172;
}

#emailButton {
    background-color: #2F4172;
    color: white;            /* text color */
    border: 2px solid #2F4172;


